meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="author", content=theme.author)
title
    block site_title
        = config.title
block description
    meta(name="description", content= config.description)

if page.keywords
    meta(name="keywords", content= page.keywords)
else
    meta(name="keywords" content= theme.keywords)

meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0",name="viewport")
meta(content="yes",name="apple-mobile-web-app-capable")
meta(content="black",name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no",name="format-detection")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

meta(name="renderer",content="webkit")
link(rel="short icon", href="/images/favicon.ico",type="image/x-icon")
link(rel="stylesheet", href= url_for('css/style.css'))
link(rel="stylesheet", href= url_for('css/blog_basic.css'))
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
link(rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="/atom.xml")
