.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/")
          i.fas.fa-home
          span   Home
      else
        a(href="/")
          i.fas.fa-home
          span   Home
    li
      if is_current('about')
        a.current(href="/about")
          i.fas.fa-user
          span   About
      else
        a(href="/about")
          i.fas.fa-user
          span   About
    li
      if is_archive()
        a.current(href="/archives")
          i.fas.fa-archive
          span   Archive
      else
        a(href="/archives")
          i.fas.fa-archive
          span   Archive
  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)")
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;")
    .avatar
      a(href="/")
        img(src=theme.avatar)
